<div class="home-page">
<div class="back-white">
    <form action='/artist-search' method="GET">
        <input type="text" placeholder="Search here" name = "q" id = "q">
        <input class="submit" type='submit' value='Search artist' id = "submit"/>
    </form>
</div>
</div>