<div id="searched-artist">
<div class="searched-artist" >
    {{#each target}}
    <img src="{{this.images.0.url}}" alt="image source">
    <h1>{{name}}</h1>
    <a href="/albums/someArtistIdGoesHere">View Albums</a>
    {{/each}}
</div>    
</div>
