<div class="search-page">
    {{#each target}}
        <div class="searched-artist" >
            <img src="{{this.images.0.url}}" alt="image source">
            <h1>{{name}}</h1>
            <a href="/albums/{{id}}">View Albums</a>
        </div>    
    {{/each}}
</div>
